footer {
  background-color: #ecf2fa;
}

footer .footer-logo {
  text-align: center;
}

footer .footer-logo img {
  width: 200px;
}

footer .footer-content {
  margin-top: 70px;
}

footer .footer-content .footer-heading {
  margin-bottom: 24px;
}

footer .footer-content .footer-heading h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

footer .footer-content .footer-details li {
  margin-bottom: 12px;
}

footer .footer-content .footer-details li p span {
  color: #ff6647;
  font-weight: 500;
}
